# ignore ANY venv anywhere
venv/
.venv/
*/venv/
*/.venv/

# ignore trash_code  
trash_code/

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# ML / generated data
runs/
backend/dataset_sessions/
backend/prepared_dataset/
backend/reports/

# React / frontend
node_modules/
build/
dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
